
.ranking {
  display: flex;
  align-items: center;
}
.rank-data {
  color: gray;
  font-weight: 700;
}

.trend-img {
  position: relative;
  margin-left: 2px;
  height: 20px !important;
  width: fit-content;
  overflow: hidden;
}

#trend-arrow {
  height: 20px;
}
.trend-img::before {
  content: "";
  position: absolute;

  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  animation-fill-mode: forwards; /* Mantiene el último estado visible */
}

.trend-img.shine-down::before {
  top: -100%;
  animation: shine-down 8s ease-in-out infinite;
}

@keyframes shine-down {
  0% {
    top: -100%;
  }
  25% {
    top: 100%;
  }
  100% {
    top: 100%;
  }
}

/* Animación de abajo hacia arriba */
.trend-img.shine-up::before {
  top: 100%;
  animation: shine-up 8s ease-in-out infinite;
}

@keyframes shine-up {
  0% {
    top: 100%;
  }
  25% {
    top: -100%;
  }
  100% {
    top: -100%;
  }
}
.rank {
  width: 26px;
  margin: 0 3px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: var(--icon-fill-color);
}
.rank-high {
  color: var(--right-letter-color);
}
.rank-medium {
  color: var(--color-yellow-dark);
}
.rank-low {
  margin: 0 3px;
}
/* .ranking img {
  display: flex;
  align-items: center;
  height: 30px;
} */
.right-icon{
  filter:contrast(.65) ;
  display: flex;
  align-items: center;
  
}
.points-ranking-container {
  display: flex;
  height: 36px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}
.points {
  margin-left: 3px;
  color: #157ad1;
  font-weight: 700;
}
@media (max-width: 767px) {

  .right-icon {
    height: 20px;
    width: 20px;
  }
  .rank-medium {
    width: 20px;
  }
  .rank-high {
    width: 20px;
  }
  .points-ranking-container {
    padding: 0 3px;
    height: 24px;
  }
  #trend-arrow {
    width: 10px;
    height: 16px;
  }
  .trend-img {
    margin-top: 3px;
  }
}
