.showPoints {
    background-color: #1c274c18;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 8px;
    z-index: 100;
    /* position: absolute; */
    width: 170px;
    height: 25px;
    /* top: 0px;
    right: calc(50% - 340px); */
}
.showPoints p {
   
    margin: 0;
}
.points{
    color: #157ad1;
    font-weight: 700;
}
@media (max-width: 767px) {
    .showPoints {
      /* top: 3px;
      right: calc(50% - 174px); */
      width: 130px;
      height: 20px;
    }
    .showPoints p {
   
        font-size: 12px;
    }
}