.share-buttons-container{
  display: flex;
  gap: 10px;
  justify-content: center;
  /* position: fixed;
    top: 97px;
    right: calc(50% - 322px); */
}
.share-button {
  
    width: 32px;
    height: 32px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .share-button:hover {
    filter: brightness(120%);
  }

  @media  (max-width: 767px){
    .share-buttons-container{
      gap: 7px;
      /* top: 78px;
      right: calc(50% - 167px); */
    }
    .share-button{
      width: 22px;
    }
  }
    
  