.share-buttons-container{
  display: flex;
  gap: 15px;
  justify-content: center;
 
}
.share-text-container{
  height: 30px;
  background-color:var(--color-transparent-black);
}
.share-button {
  
    width: 32px;
    height: 32px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .share-text{
    flex: 1;
  }
  .share-button:hover {
    filter: brightness(120%);
  }

  @media  (max-width: 767px){
    .share-buttons-container{
      gap: 7px;
      /* top: 78px;
      right: calc(50% - 167px); */
    }
    .share-button{
      width: 24px;
      height: 24px;
    }
    .share-text-container{
      height: 24px;
    }
    .share-text{
      font-size: 12px;
    }
  }
    
  