.share-button {
  position: fixed;
  top: 5px;
  right: calc(50% - 160px);
  width: 32px;
  height: 32px;
    /* padding: 10px 20px;
    background-color: #25D366; */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
  }
  
  .share-button:hover {
    filter: brightness(120%);
  }

  @media  (max-width: 767px){
    .share-button{
      width: 24px;
      top: 9px;
      right: calc(50% - 140px);
    }
  }
    
  