.game{
    width: 100%;
    flex-grow: 1;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    position: relative;
    overflow-y: auto;
}
.phrase-and-button-container {
    display: flex;
    flex-direction: column;
    
    
  }
  
.phrase-link-container{
   
    margin-top: 8px;
}
@media (width<420px){
    .game{
        margin-top: 5px;
        margin-bottom: 0;
    }
}