.game {
  width: 100%;
  flex-grow: 1;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: max(24px, env(safe-area-inset-bottom));
  scroll-padding-bottom: max(24px, env(safe-area-inset-bottom));
}
.phrase-and-button-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.right-div-container {
  background-color: var(--color-transparent-black);
  display: flex;

  align-items: center;
  border: 2px solid gray;
  border-radius: 8px;
  z-index: 100;
  box-sizing: border-box;
  width: 175px;
  font-weight: 500;
}
.words {
  max-width: 50%;
}
.words-counter {
  margin: 0 auto 7px auto;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 40px;
  .remaining-tries-text {
    font-weight: 800;
    font-size: 1.3em;
    color: var(--color-green-dark);
  }
}
.clues-container {
  flex-direction: column;
  height: fit-content;
}
.helpers-container {
  background-color: var(--color-yellow-light);
}
.right-div-container p {
  margin: 0;
}
.phrase-link {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: var(--active-box-color);
  border: none;
  background-image:
    linear-gradient(
      to bottom,
      var(--color-yellow-light),
      var(--color-yellow-dark)
    ),
    linear-gradient(
      to bottom,
      var(--color-yellow-dark),
      var(--color-yellow-light)
    );
  background-size: 100% 200%;
  background-position:
    0 0,
    0 100%;
  background-repeat: no-repeat;
  transition: background-position 0.5s ease;
  width: 100%;
  padding: 0.2em 0;
}

.phrase-link:hover {
  background-position:
    0 100%,
    0 0;
}
.words-clues-points-container {
  overflow: visible;
  min-height: 187px;
  width: calc(100% - 10px);
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
.clues-points-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.phrase-link-container {
  width: 174px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.confirm-button {
  background-color: #51e651;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button:hover,
.cancel-button:hover {
  opacity: 0.9;
}
@media (width<767px) {
  .game {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .phrase-link-container {
    width: 134px;
  }
  .right-div-container {
    width: 154px;
    font-size: 12px;
  }

  .words-clues-points-container {
    min-height: 137px;
  }

  .clues-container {
    width: 154px;
  }
  .words-counter {
    height: 28px;
  }
}
