.rules-container {
  
 
 
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}
.rules-header {
 
 
  z-index: 10;
}

.rules-content {
  flex-grow: 1;
  overflow-y: scroll; 
  scrollbar-width: none;
  
}
.rules-content .clue-icon{
  display: inline;
  padding-bottom: 5px;}

h1 {
  color: #333;
  text-align: center;
  position: sticky;
  font-size: 2.2em;
  padding: 0;
  top: 0;
  background-color: #fff;
  padding: 20px 0;
  margin: 0;
  z-index: 1;
}

h2 {
  color: #444;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

section {
  margin-bottom: 30px;
}

ol,
ul {
  padding-left: 20px;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: center;
}


li {
  margin-bottom: 10px;
}

.correct {
  color: var(--right-letter-color);
  font-weight: bold;
}

.absent {
  color: gray;
  font-weight: bold;
}
.perdida{
  color: var(--color-orange-dark);
  font-weight: bold;
}
footer {
  text-align: center;
  
  margin-top: 10px;
}
footer>small{
  margin: 0 5px;
}
li>img{
  width: 30px;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .rules-container{
    padding: 0 10px;
  }
    h1{
        font-size: 1.7em;
    }
    .try-word-gif{
      width: 150px;
    }
    .phrase-gif{
      width: 320px;
    }
    .clues-png{
      width: 130px;
    }
}
