.letter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    
    margin: 3px;
    padding: 3px;
}
.active{
    border-color: blue;
}
.in-phrase{
    background-color: #51e651;
}
@media (max-width: 767px) {
    .letter{
        width: 25px;
        height: 25px;
        padding: 1px;
    }
}

