.oldgames {
  min-width: 80%;
  
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 5px;
 
  overflow: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.phrase-box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
  text-align: center;
  
}
.phrase-box:hover{
  cursor: pointer;
  filter: brightness(120%);
}
.oldgames::after {
  content: "";
  flex-grow: 9999;
  min-width: 100px; /* El ancho de un .phrase-box */
}

.oldgames > .phrase-box:last-child {
  margin-right: auto; /* Empuja el último elemento hacia la izquierda */
}
.phrase-box.win {
  background-color: green;
}

.phrase-box.lose {
  background-color: red;
}

.phrase-box.np {
  background-color: gray;
}

.phrase-box.playing {
  background-color: rgb(249, 115, 47);
}
.color-codes {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 3px;
  left: 0px;
  width: 100%;
  padding-top: 3px;
  margin: 0 auto;
  /* border-top: 1px solid gray; */
}
.footer-box {
  width: 20px;
  height: 20px;
  margin: 0 3px 0 7px;
}
@media (max-width: 767px) {
  .oldgames {
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    min-height: unset;
  }
  .phrase-box {
    width: 40px;
    height: 40px;
    font-size: 1em;
    font-weight: 600;
  }
  .oldgames::after{
    min-width: 40px;
  }
  .footer-box {
    width: 15px;
    height: 15px;
    margin: 0 3px 0 7px;
  }
  .color-codes small{
    font-size: 10px;
  }
}
