.user-stats{
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 20px; 
    margin-bottom: 40px;
}
.stats-container{
    display: flex;
    gap: 10px

}
.stats-data{
    display: flex;
    flex-direction: column;

}
.stats-data>span{
    font-size: 2em;
    font-weight: 600;
}
@media (max-width: 767px) {
    .stats-data>span{
        font-size: 1.6em;
    }
    .stats-data{
        font-size: 12px;
    }
    .user-stats h2{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .user-stats{
        margin-top: auto;
        margin-bottom: 30px;
    }
}