.header{
    height: 50px;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* gap: 28px; */
    margin-bottom: 10px;
}
.header-links-container{
    position: absolute;
    left: 50%;
    top:5px;
    transform: translateX(-50%);
    width: 175px;
    display: flex;
    justify-content: space-between;
    
}

.header-link {
    /* padding-left: 7px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    width: 40px;
   
  }
  @media (max-width: 767px) {
    .header{
        margin-top: 5px;
        margin-bottom: 0;
        height: 40px;
    }
    .header-links-container{
        width: 132px;
    }
    /* .header-link{
        width: 32px;
        padding-left: 5px;
       
    }
   */
   .header-link [class*="iconBorder"]{
    width: 27px;
   }
  }