.clue-details {
  font-size: small;
  height: fit-content;
  position: relative;
}
.clue-details button {
  margin: 4px ;
  border: 1px solid gray;
  padding: 2px 10px 3px 10px;
  background-image: linear-gradient(
      to bottom,
      var(--color-yellow-light),
      var(--color-yellow-dark)
    ),
    linear-gradient(
      to bottom,
      var(--color-yellow-dark),
      var(--color-yellow-light)
    );
}
.clue-description {
  font-weight: 500;
  margin: 0;
}
.button-input-container{
 
  display: flex;
  justify-content: center;
}
.clue-details input {
  border-radius: 8px;
  height: 14px;
  margin: auto 0;
  width: 45px;
  text-align: center;
  padding: 3px;
  color: var(--color-orange-dark);
  font-weight: 600;
}
.consumed-message {
  width: fit-content;
  max-width: 100%;
  color: #2c3e50;
  font-weight: bold;
  font-size: 12px;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: var(--color-yellow-dark);
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  text-align: center;
}
.clue-price {
  display: flex;
  justify-content: center;
  padding: 1px;
  margin: 0;
  font-weight: 600;
  color: #fff3f3;
  background-color: #f56539;
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 21px;
  height: 21px;
  border: 1px solid gray;
  border-radius: 50%;
}
.show-phrase-price{
  position: unset;
  font-size: 15px;
  
}
@media (max-width: 767px) {
  .clue-details {
    font-size: 10px;
  }
 .show-phrase-price{
  font-size: 10px;
 }
  .consumed-message {
    font-size: 10px;
    padding: 3px 5px;
    margin-top: 5px;
  }
  .clue-details input {
    padding: 1px;
    font-size: 12px;
   /* position: absolute;
   left: 2px;
   bottom: 4px; */
  }
  .clue-details button{
    padding: 1px 5px 2px 5px;
   
  }
  .clue-price {
    width: 14px;
    height: 14px;
    right: 2px;
    bottom: 4px;
  }
}
