.keyboard {
  overflow: hidden;
  width: 98%;
  min-width: 270px;
  height: fit-content;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: env(safe-area-inset-bottom, 20px); /* Espacio para la barra de navegación */
}
.keys {
  display: flex;
  height: 32px;
  gap: 5px;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
}
.key {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  flex: 1;
  max-width: 31.5px;
  min-height: 25px;
  height: 30px;
}
.key:hover {
  cursor: pointer;
  background-color: rgb(207, 205, 205);
}

.action {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
 
}
.action:hover {
  cursor: pointer;
 
}
.class1 {
  fill: #8c9eff;
}
.class2 {
  fill: #5f7cf9;
}
@media (max-width:757px) {
  .action{
    width: 33px;
    height: 33px;
  }
}
