/* ShowPhrase.css */
.showPhrase-container{
  display: flex;
  flex-direction: column;
  
}
.phrase-container {

  margin: 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.phrase-letter{
  width: 20px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2px;
  text-align: center;
}
.letter-box {
  color: white;
  
 
  background-color: #fff;
}
.visible-letter{
  background-color: #51e651;
}
.visible-char {
  border: none;
  width: fit-content;
  display: inline-block;

}
.word {
  display: flex;
  align-items: center;
}
.space {
  width: 10px;
}
.phrase-link{
  background: linear-gradient(to bottom, #ffeb0c, #d6cd25);
    border: none;
    
    transition: background 0.5s ease;
}

.phrase-link:hover{
  background: linear-gradient(to bottom, #d6cd25, #ffeb0c);
}
@media (max-width: 767px) {
  .phrase-link{
    padding: .3em .6em
  }
  .phrase-letter{
    height: 22px;
    line-height: 1.2;
  }
}