/* ShowPhrase.css */
.phrase-container {

  margin: 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.letter-box {
  width: 20px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2px;
  text-align: center;
  line-height: 22px;
  background-color: #fff;
}
.visible-char {
  width: fit-content;
  display: inline-block;
  margin: 2px;
}
.word {
  display: flex;
  align-items: center;
}
.space {
  width: 10px;
}
