/* ShowPhrase.css */
.showPhrase-container {
  display: flex;
  flex-direction: column;
}
.phrase-container {
  margin: 10px 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.phrase-letter {
  width: 20px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2px;
  text-align: center;
}
.letter-box {
  color: white;

  background-color: #fff;
}

.visible-char {
  font-weight: 600;
  border: none;
  width: fit-content;
  display: inline-block;
}
.word {
  display: flex;
  align-items: center;
}
.space {
  width: 10px;
}
.phrase-link  {
  border: 1px solid gray ;
  background-image: 
    linear-gradient(to bottom, var(--color-yellow-light), var(--color-yellow-dark)),
    linear-gradient(to bottom, var(--color-yellow-dark), var(--color-yellow-light));
  background-size: 100% 200%;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  transition: background-position 0.5s ease;
  width: 100%;
  padding: 0.2em 0;
  
}

.phrase-link:hover {
  background-position: 0 100%, 0 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0; /* Comienza invisible */
  animation: fadeIn 0.5s ease-out forwards; /* forwards mantiene el estado final */
}

.delay-1 {
  animation-delay: 0.5s; /* 1er elemento: 0.5 segundos de retraso */
}

.delay-2 {
  animation-delay: 1s; /* 2º elemento: 1 segundo de retraso */
}

.delay-3 {
  animation-delay: 1.5s; /* 3º elemento: 1.5 segundos de retraso */
}

.delay-4 {
  animation-delay: 2s; /* 4º elemento: 2 segundos de retraso */
}

.delay-5 {
  animation-delay: 2.5s; /* 5º elemento: 2.5 segundos de retraso */
}

.delay-6 {
  animation-delay: 3s; /* 6º elemento: 3 segundos de retraso */
}
@keyframes revealLetter {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-reveal {
  animation: revealLetter 1s ease-out;
}
@media (max-width: 767px) {
  .phrase-link {
    font-size: .8em;
    padding: 0.3em 0.6em 0.2em 0.6em;
  }
  .phrase-letter {
    height: 22px;
    line-height: 1.3;
  }
}
@media (max-width: 340px){
  .phrase-letter{
    width: 18px;
    height: 20px;
  }
}
