/* ShowPhrase.css */
.showPhrase-container {
  display: flex;
  flex-direction: column;
}
.phrase-container {
  margin: 10px 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.phrase-letter {
  width: 20px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2px;
  text-align: center;
}
.letter-box {
  color: white;

  background-color: #fff;
}
.visible-letter {
  background-color: #51e651;
}
.visible-char {
  border: none;
  width: fit-content;
  display: inline-block;
}
.word {
  display: flex;
  align-items: center;
}
.space {
  width: 10px;
}
.phrase-link {
  background-image: 
    linear-gradient(to bottom, #ffeb0c, #d6cd25),
    linear-gradient(to bottom, #d6cd25, #ffeb0c);
  background-size: 100% 200%;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  transition: background-position 0.5s ease;
  border: none;
}

.phrase-link:hover {
  background-position: 0 100%, 0 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}
@keyframes revealLetter {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-reveal {
  animation: revealLetter 1s ease-out;
}
@media (max-width: 767px) {
  .phrase-link {
    padding: 0.1em 0.6em 0.3em 0.6em;
  }
  .phrase-letter {
    height: 22px;
    line-height: 1.3;
  }
}
