#root {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100dvh;
  text-align: center;
  background-color: var(--color-transparent-black)
  /* margin: 0 auto; */
}
.home {
  
  display: flex;
  flex-direction: column;
  position: relative;
  
  align-items: center;
  width: 100%;
  max-width: 420px;
  padding: 0 100px;
  /* height: 100dvh; */
  background-color: white;
}

/* .toaster-container {
  position: fixed !important;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; 
}*/

/* HTML: <div class="loader"></div> */
.loader {
  margin-top: 30%;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  color: #000;
  border: 2px solid;
  box-sizing: border-box;
  position: relative;
  transform-origin: left;
  animation: l2 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0 0 auto;
  margin: auto;
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid;
  box-sizing: content-box;
  transform-origin: 50% calc(100% - 4px);
  animation: inherit;
}
.loader::after {
  inset: auto 0 calc(100% + 2px);
  animation-duration: 0.5s;
  animation-direction: reverse;
  transform-origin: 50% calc(200% - 2px);
}

@keyframes l2 {
  100% {
    transform: rotate(1turn);
  }
}
@media (width<767px) {
  .home {
    height: 100dvh;
    width: 100%;
    padding: 0;
}
}