:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark-mode-text:#ffffffde; 
  --dark-mode-bg: #121212;
  --dark-mode-secondary_bg: #333333;
  --dark-mode-link: #9ab0ff;
  --dark-mode-link_hover: #b3c4ff; 
  --dark-mode-border: #9ab0ff ;
  --dark-mode-svg_fill:#8c9eff;
  --dark-mode-movie_field:#b3c4ff;
  --color-yellow-dark: #d6cd25;
  --color-yellow-light: #ffeb0c;
  --right-letter-color: #51e651;
  --wrong-letter-color: #80808063;
  --active-box-color:#157ad1;
  --color-orange-dark:#e53b08;
}

a {
  font-weight: 500;
  color: var(--active-box-color);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  
  place-items: center;
  min-width: 320px;
  height: 100%;
  overflow: hidden;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--active-box-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--dark-mode-text) ;
    background-color: var(--dark-mode-bg);
  }
  a {
    color: var(--dark-mode-link);
  }
  a:hover {
    color: var(--dark-mode-link_hover) 
  }
  button, .details-container>p {
    background-color: var(--dark-mode-secondary_bg)
  }
 
  .letter, .phrase-letter, .key, button:hover{
    border-color: var(--dark-mode-border)
  }
  .header-link svg>path, .keys svg>path{
    fill: var(--dark-mode-svg_fill)
  }
  .field-title{
    color: var(--dark-mode-movie_field)
  }
  h1, h2, .rules-header{
    color: var(--dark-mode-text);
    background-color: var(--dark-mode-bg) 
  }
}