.modal-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1049;
  }
  .phrase-details{
    display: flex;
    
    background-image: url("../../assets/backgroundmovie.jpg");
    background-repeat:repeat-y;
    background-size: cover;
  }
  .poster-container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .poster-container>img{
    width: 80%;
  }
  .details-container{
    width: 60%;
    padding: 0 10px 0 10px;
  }
  .details-container>h2{
    background-color: aqua;
    border-radius: 5px;
    padding: 7px;
    width: fit-content;
    margin: 8px auto;
  }
  .details-container>p{
    background-color: white;
    border-radius: 5px;
    padding: 3px;
  }
  .modal-content {
   background-color:#dbd62194;
   border: 8px dotted greenyellow;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 800px;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    padding: 1px 5px;
  }
  .image-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }