
.clues{
  width: 100%;
}
.clues-button {
  padding: 1px 0 3px 0;
  border: 1px solid gray;
  border-radius: 8px;
  font-weight: 700;
  width: 100%;
  background-color: #1c274c32;
 
}

.clues-icons {
  display: flex;
  justify-content: space-between;
}
.clue-icon {
  margin: 0;
  width: 36px;
  height: 36px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 4px;

  transition: filter, background-color 0.3s ease;
}
.clue-icon img {
  width: 30px;
  height: 30px;
}
.clue-icon.selected {
  background-color: var(--color-yellow-dark);
  filter: saturate(110%);
}
.clue-icon:hover {
  cursor: pointer;
  background-color: var(--color-yellow-dark);
}
@media (max-width: 767px) {
 
  .clue-icon {
    width: 24px;
    height: 24px;
  }
  .clue-icon img {
    width: 20px;
    height: 20px;
  }
  .clues-button {
    font-size: 12px;
    padding: 0;
  }
}
